.title_section{
    text-align: center;
    margin-bottom: 40px;

}

.titleOne{
    color: rgb(180, 117, 35);
    font-family: var(--second-font);
    font-size: 21px;
}
.titleTwo{
    font-size: 32px;
}
.free_img{
    width: 16%;
   
}
.card_detail{
    border: 1px solid rgb(196, 155, 80) ;
    margin: 10px;
    padding: 13px;
    border-radius: 8px;
    width: 17%;
    transition: 0.5s var(--transition);
   
    display: block;
    background-color: var(--container-color);
    position: relative;
}
.card_detail:hover{
    transform: translateY(-0.5rem);
}
.card_section{
    display: flex;
   justify-content: center;
}
.shape{
    position: absolute;
    width: 100px;
    right: 1.124rem;
    top: 48px;
    opacity: 0.2;
}