/*=================================== 
#GOOGLE FONTS 
===================================*/

  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Kanit:wght@400;500;600&family=Lobster+Two:wght@400;700&display=swap');

/*=================================== 
#CSS VARIABLES
===================================*/

:root {
    --header-height:80px ;
  
    /*===============
     * Colors
    ===============*/
  
    --first-color:hsl(27,34%,59%) ;
    --first-color-light:hsl(42,13%,34%) ;
    --title-color:hsl(0,0%,100%) ;
    --text-color: hsl(0,0%,67%);
    --bg-color: hsl(0,0%,8%);
    --container-color:hsl(0,0%,6%) ;
    --hsla: hsla(0,0%,0%,0.75);
  
    /*===============
     * Typography
    ===============*/
  
    --body-font:'Kanit', sans-serif ;
    --second-font:'Lobster Two', cursive ;
  
    --biggest-font-size:68px ;
    --bigger-font-size: 51px;
    --big-font-size:40px ;
    --h1-font-size: 29px;
    --h2-font-size:27px ;
    --h3-font-size:24px ;
    --largest-font-size:20px ;
    --larger-font-size: 18px;
    --large-font-size: 17px;
    --normal-font-size: 16px;
  
    --weight-400: 400;
    --weight-500:500 ;
    --weight-600:600 ;
    --weight-700:700 ;
  
   
  
    --radius:8px ;
  
  
  
    --transition: ease-in-out;
  }
  
 
  *{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
  }
  input,textarea,body,button{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  .btn_flex{
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
  }
  body{
    color: var(--text-color);
    background: var(--bg-color);
  }
  h1,h2,h3{
    font-family: var(
        --second-font
    );
    color: var(--title-color);
    font-weight: var(--weight-400);
  }
  ul{
    list-style: none;
  }
  p{
    line-height: 1.5;
  }

  a{
    text-decoration: none;
  }
  input,textarea{
    border: none;
    outline: none;
  }
  img{
    max-width: 100%;
  }

 
  /*=================================== 
  #RESUABLE CSS CLASSES
  ===================================*/
  .container{
    
    max-width: 1200px;
    margin-inline-start: auto;
    margin-inline-end: auto;
  
  }
  .grid{
    display: grid;
    gap: 22px;

  }
  .btn{
    display: inline-block;
    color: var(--title-color);
    background: var(--first-color);
    border:2px solid var(--first-color) ;
    padding: 14px 22px;
    border-radius: var(--radius);
  }
  .btn:hover{
    background: transparent;
    color: var(--first-color);
  }
  .section{
    padding-block-end:60px;
    padding-block-start:60px ;
  }